* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    gap: 10px;
}

body.dark {
    background-color: black;
}

#lamp {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border-style: solid;
    border-color: black;
    border-width: 5px;
}

#lamp.dark {
    box-shadow: rgba(255, 251, 0, 0.1) 5px 5px 5px 5px;
}

#lamp.warm {
    background-color: gold;
}

#lamp.cold {
    background-color: darkorange;
}

@keyframes rgb_anim {
    0% { background-color: red; }
    33% { background-color: lime; }
    66% { background-color: blue; }
    100% { background-color: red; }
}

#lamp.rgb {
    animation-name: rgb_anim;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

#slider {
    display: flex;
    gap: 5px;
}

#opacity_span.dark {
    color: white;
}

#timer_text {
    margin: 0;
}