* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

#lamp {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    background-color: yellow;
}